{% extends "layout.html" %}
{% block title %}404 - Sputipy{% endblock %}
{% block body %}
  <h1>Page Not Found</h1>
  <pre>Where did you come from? Where did you go?
Where did you come from, Cotton-Eyed Joe?</pre>
{% endblock %}