{% extends "layout.html" %}
{% block title %}Home - Sputipy{% endblock %}
{% block body %}
    <h1>Home</h1>
    <img src="{{ url_for('static', filename='favicon.ico') }}" width="250" width="250" class="rounded mx-auto d-block" alt="sputipy logo" />
    <h2 class="text-center">Sputipy offre musica trash da più di 20 anni ai propri clienti</h2>
    <div class="alert alert-dark mt-3" role="alert">
        Ho fatto questo "sito" in fretta, cosa vi aspettavate?
    </div>
{% endblock %}